{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block body %}
  <div class="formInscription">
      <div class="row">
          <div class="col-xs-12">
              <p class="leftInscription">{{ participantsLeft }} inscriptions restantes</p>
              {{ form_start(form) }}
                  {{ form_widget(form) }}
                  <div class="row submitButton">
                       <div class="col-xs-12 col-md-6">
                           <button type="submit" class="btn btn-warning">Valider</button>
                       </div>
                  </div>
                  {{ form_end(form) }}
          </div>
      </div>
  </div>
{% endblock %}

{% block _participant_alcoholOptin_row %}
    <div class="checkbox">
        <input type="checkbox" id="alcoholOptin">
        <label for="alcoholOptin">Vous buvez ?</label>
    </div>
{% endblock %}
