{% extends 'base.html.twig' %}

{% block body %}
<div class="formInscription end">
    <div class="row">
        <div class="col-xs-12">
            <div class="trait top"></div>
            <p>
                Eh bien, vous n'avez pas été assez attentif à nos alertes… Ceci dit nous sommes certains que vos collègues pourront partager leur expérience unique !
            </p>
            <div class="trait"></div>
        </div>
    </div>
{% endblock %}
