{% extends 'base.html.twig' %}

{% block body %}
<div class="formInscription end">
    <div class="row">
        <div class="col-xs-12">
            <div class="trait top"></div>
            <p>
                Les forces de l'ordre ont mis la main sur l'une de nos planques. Malheureusement nous ne pouvons vous accueillir.
            </p>
            <div class="trait"></div>
        </div>
    </div>
{% endblock %}
