{% extends 'base.html.twig' %}

{% block body %}
<div class="formInscription end">
  <div class="row">
      <div class="col-xs-12">
          <div class="trait top"></div>
          <p>
            Merci de votre confiance, nous préparons votre arôme personnel.<br />
            Vous avez reçu une missive, n'oubliez pas de vous munir de votre GSM le 17 décembre.
          </p>
          <div class="trait"></div>
  </div>
</div>
{% endblock %}
