{% extends 'base.html.twig' %}

{% block body %}
<div class="formInscription end">
  <div class="row">
      <div class="col-xs-12">
          <h2>Tu es bien inscrit !</h2>
          <p>
            Tu as du reçevoir un texto. N’oublies pas de prendre ton téléphone le 17... A bientôt !
          </p>
          <div class="trait"></div>
      </div>
  </div>
</div>
{% endblock %}
