{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            Tu es bien inscrit ! A très vite !
        </div>
    </div>
{% endblock %}
